/* bodyの基本スタイル */
body {
    font-family: "M PLUS 1", sans-serif; /* 全体のWEBフォント */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* background: linear-gradient(to bottom, #f4f4f4, #333); グラデを背景に適用する場合はこれを有効にする */
    color: #333;
}

/* ヘッダー */
header {
    background: #fff;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* ヘッダーを追従させる */
    width: 100%;
    top: 0;
    z-index: 1000; /* ヘッダーを最前面に */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

header img {
    height: 25px; /* ロゴ画像の高さを設定 */
    margin-right: 10px;
    margin-top: 5px; /* ロゴを下に5px下げる */
}

.header-text {
    font-size: 1rem; /* ヘッダーのテキストサイズを設定 */
    font-weight: 700;
}

/* メインコンテンツ部分 */
main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 650px; /* 横幅広がりの上限を決めておく SP/PCの見た目差異を無くすため */
}

/* キャッチコピー */
#ccopy {
    background: #f4f4f4;
    color: #333;
    padding: 2.5rem 2rem;
    text-align: center;
    margin-top: 4rem; /* ヘッダー追従で最前面に来るので、その分マージンを多めに空ける */
    margin-bottom: 2rem; */

    /* 枠で囲む */
    border: 2px solid #999; /* 四角い枠, 色は薄めにする */
    display: inline-block; /* コンテンツに合わせて枠の幅を調整する */
    line-height: 1.1; /* 行間の調整 */
}

/* キャッチコピー内 H1のスタイル */
#ccopy h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.3); /* 影の設定 */
}

#qrcode {
    background: #f4f4f4;
    color: #333;
    padding: 2.5rem 2rem;
    margin-top: 4rem; /* ヘッダー追従で最前面に来るので、その分マージンを多めに空ける */
    margin-bottom: 2rem;
}

#qrcode h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 650px;
    margin: 0;
    font-size: 5vw; /* フォントサイズも画面に合わせて可変 */
}

/* テーブル共通 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
}

table thead th {
    background-color: #abd5da;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #ececec;
}

table tbody th, table tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* 各セクション共通 */
section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2.0rem;
    margin-top: 4.5rem; /* 読みやすくするために少し大きめのマージンを取る */
}
section h3 {
    font-size: 1.2rem; /* h2よりする小さく */
    margin-top: 3.5rem; /* 読みやすくするために少し大きめのマージンを取る */
}

section a {
    display: block;
    /*margin-top: 1rem;*/
    /* color: #007BFF; ちょっとわざとらしいリンク色にする場合 */
    color: #25abb4;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* アコーディオン共通 */
.accordion {
    margin-top: 1rem;
}

/* アコーディオンアイテム */
.accordion-item {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.accordion-item button {
    background: none;
    border: none;
    padding: 1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* アコーディオンタイトル */
.accordion-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.icon {
    float: right;
}

.accordion-content {
    padding: 1rem;
    display: none;
}

.accordion-item[aria-expanded="true"] .accordion-content {
    display: block;
}

/* 太字設定 spanで使う */
.bold-text01 {
    font-size: 1.8rem;
    font-weight: bold;
}

.bold-text02 {
    font-size: 1.2rem;
    font-weight: bold;
}

.bold-text03 {
    font-weight: bold;
}

/* フッタースタイル */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer a{
    color: #25abb4;
}

/* モバイルビューのスタイル (スマホ表示でスタイルが変わることを明示的に防ぎたい) */
@media (max-width: 768px) {
    .accordion-title {
        color: #333 !important;
    }

    #qrcode {
        background: #f4f4f4;
        color: #333;
        padding: 2.5rem 2rem;
        margin-top: 4rem; /* ヘッダー追従で最前面に来るので、その分マージンを多めに空ける */
        margin-bottom: 2rem;
    }
}